.hero-img{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img::before{
    content: "";
    /* background: url(https://images.unsplash.com/photo-1612438137269-70c848e102e1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGlwZWxpbmUlMjBjb25zdHJ1Y3Rpb24lMjBhbmQlMjByZXBhaXJ8ZW58MHx8MHx8fDA%3D) ; */ 
    background: url(https://tse1.mm.bing.net/th/id/OIP.h1w11Vv3-owhL5sB7QXLXgHaE_?pid=Api&h=220&P=0) ;
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-img h1{
    font-size: 2.4rem;
    color: aliceblue;
}
.hero-img p{
    font-size: 1.5rem;
    text-align: center;
    color: aliceblue;
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}